# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.env/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Application specific
data/
*.lock
*.json

# Py2App
build/
dist/
.eggs/
